services:
  - type: web
    name: honeypot-api
    runtime: docker
    region: singapore
    dockerfilePath: ./Dockerfile
    envVars:
      - key: EVAL_API_KEY
        value: GUVI_HCL_2025_EVAL_YGHn9UoBVBrhoru4q2nDYIMiIHacB9QT
      - key: PORT
        value: 8000
      - key: ENV
        value: production
    healthCheckPath: /health
    autoDeploy: true